# Class 6

* List comprehensive
    * List ka bara code chota krna
* Tuple
* Set
* Dictionary

In [4]:
# generator function: direct nhi chalta
range(11)
range(1,11)

range(1, 11)

In [13]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
for i in range(1,11):
    print(i)
# list comprehensive
[print(i) for i in range(1,11)]

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

[None, None, None, None, None, None, None, None, None, None]

In [28]:
# list comprehensive
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
table = int(input("Enter number for table generation:"))
for i in range(1,11):
    print(f"{table} x {i} = {table * i}")

Enter number for table generation:8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [31]:
# list comprehensive
[print(f"{table} x {i} = {table * i}") for i in range(1,11)]

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

[None, None, None, None, None, None, None, None, None, None]

In [43]:
for i in range(1,11):
    for j in range(1,i+1):
        print((i,j),i*j,end=" ")
    print()

(1, 1) 1
(2, 1) 2 (2, 2) 4
(3, 1) 3 (3, 2) 6 (3, 3) 9
(4, 1) 4 (4, 2) 8 (4, 3) 12 (4, 4) 16
(5, 1) 5 (5, 2) 10 (5, 3) 15 (5, 4) 20 (5, 5) 25
(6, 1) 6 (6, 2) 12 (6, 3) 18 (6, 4) 24 (6, 5) 30 (6, 6) 36
(7, 1) 7 (7, 2) 14 (7, 3) 21 (7, 4) 28 (7, 5) 35 (7, 6) 42 (7, 7) 49
(8, 1) 8 (8, 2) 16 (8, 3) 24 (8, 4) 32 (8, 5) 40 (8, 6) 48 (8, 7) 56 (8, 8) 64
(9, 1) 9 (9, 2) 18 (9, 3) 27 (9, 4) 36 (9, 5) 45 (9, 6) 54 (9, 7) 63 (9, 8) 72 (9, 9) 81
(10, 1) 10 (10, 2) 20 (10, 3) 30 (10, 4) 40 (10, 5) 50 (10, 6) 60 (10, 7) 70 (10, 8) 80 (10, 9) 90 (10, 10) 100

In [54]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
for row in range(len(data)):
    for col in range(len(data[row])):
        print(data[row][col], end=" ")
    print()
print()

for row in data:
    for col in row:
       print(col, end=" ")
    print()

1 2 3
4 5 6
7 8 9

1 2 3
4 5 6
7 8 9

In [51]:
data = [[1,2,3,4],
        [5,6,7],
        [8,9]]
for row in range(len(data)):
    for col in range(len(data[row])):
        print(data[row][col], end=" ")
    print()

1 2 3 4
5 6 7
8 9

In [42]:
[print(data[row][col], end=" ") for row in range(len(data)) for col in range(len(data[row]))]

1 2 3 4 5 6 7 8 9

[None, None, None, None, None, None, None, None, None]

# Tuple

In [58]:
data = ('a','b','c',1,2,3) 
print(type(data))
print(data)

data = 'a','b','c',1,2,3 
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)
<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [65]:
print(data[0])
print(data[-1])
print(data[0:3])

a
3
('a', 'b', 'c')

In [66]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [86]:
mytuple = ('a',[1,2,3])
mytuple[1].append(4) 
mytuple[1][0]=0

# Dictionary

* start `{` and `}`
* item
    * `key` : `value`
        * key = hashable type = integer, string, tuple
        * value = any type
    * `:` seperator between

In [87]:
data = {
    "name" : "Huzefa Mustafa",
    "father_name" : "Mustafa Moiz",
    "cnic" : "42101-9683135-3",
    "roll_no" : 96,
    "signature" : "huz",
    ('a','b','c') : "huzefa"
}

In [93]:
data = {}
data['name'] = "Huzefa Mustafa"
print(data,type(data))
print(data.get('name',"Not Available"))
print(data.get('rollno',"Not Available"))

{'name': 'Huzefa Mustafa'} <class 'dict'>
Huzefa Mustafa
Not Available