# Text formating / formation / concatenation

# Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [1]:
0student="Huzefa"
student name = "Huzefa"
student^name = "Huzefa"

SyntaxError: invalid syntax (78782814.py, line 1)

# Concatentation
* **+**
* variable_name.format(**var1, var2, var3**)
* `f"` Student Name: {**var1**} `"`

In [2]:
first_name = "Huzefa"
last_name = "Mustafa"
full_name = first_name + last_name
print("First Name: ",first_name)
print("Last Name: ",last_name)
print("Full Name: ",full_name)
print("Full Name: ",first_name+last_name)

First Name:  Huzefa
Last Name:  Mustafa
Full Name:  HuzefaMustafa
Full Name:  HuzefaMustafa

In [3]:
first_name = "Huzefa"
last_name = "Mustafa"
institute_name = "Saylani Mass IT Training"
age = 21
age = str(age)
card = "Institute Name: " + institute_name + "\nStudent Full Name: " + first_name + " " + last_name + "\nAge: " + age

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Huzefa Mustafa
Age: 21

In [4]:
first_name = "Huzefa"
last_name = "Mustafa"
institute_name = "Saylani Mass IT Training"
age = 21
card = """Institute Name: {}
Student Full Name: {} {}
Age: {}""".format(institute_name, first_name, last_name, age)

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Huzefa Mustafa
Age: 21

In [5]:
first_name = "Huzefa"
last_name = "Mustafa"
institute_name = "Saylani Mass IT Training"
age = 21

card = """Institute Name: {2}
Student Full Name: {0} {3}
Age: {1}""".format(first_name, age, institute_name, last_name)

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Huzefa Mustafa
Age: 21

In [6]:
first_name = "Huzefa"
last_name = "Mustafa"
institute_name = "Saylani Mass IT Training"
age = 21

card = f"""Institute Name: {institute_name}
Student Full Name: {first_name} {last_name}
Age: {age}"""

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Huzefa Mustafa
Age: 21

In [7]:
first_name = "Huzefa"
last_name = "Mustafa"
institute_name = "Saylani Mass IT Training"
age = 21

card = """Institute Name: %s
Student Full Name: %s %s
Age: %s""" % (institute_name, first_name, last_name, age)

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Huzefa Mustafa
Age: 21

In [8]:
print(card.capitalize()) # capitalize the first letter of the string

Institute name: saylani mass it training
student full name: huzefa mustafa
age: 21

In [9]:
print(card.casefold()) #small letters all
card.casefold()

institute name: saylani mass it training
student full name: huzefa mustafa
age: 21

'institute name: saylani mass it training\nstudent full name: huzefa mustafa\nage: 21'

In [10]:
print(card.count('a')) # counts number of a
print(card.count('huzefa'))
print(card.count('Huzefa'))
print(card.casefold().count('huzefa'))

9
0
1
1