In [9]:
import numpy as np
import pandas as pd

In [10]:
cols = [["AI","AI","Web","Web"],["id","name","id","name"]]

data = np.random.randint(1,100,size=(5,4))
df = pd.DataFrame(data,columns=cols)
df

   AI      Web
   id name  id name
0  58    7  58   94
1  35    5  69   16
2  68   43  28   61
3  51   14  59   41
4   7   51  57   28

# multi rows index

In [20]:
rows_index = [["Sindh","Sindh","Punjab","Punjab"],["Karachi","Hyderabad","Lahore","Faislabad"]]
data = [200,300,150,175]
df = pd.DataFrame(data,columns=["No of students"],index=rows_index)
df

                  No of students
Sindh  Karachi               200
       Hyderabad             300
Punjab Lahore                150
       Faislabad             175

In [22]:
samples = 100

df = pd.DataFrame({"roll_no":np.arange(1,samples+1),
                   "Name:":list(map(name_generator,np.random.randint(4,20,samples))),
                  "Father Name:":list(map(name_generator,np.random.randint(4,20,samples))),
                  "Course":np.random})
df

NameError: name 'name_generator' is not defined

In [ ]:
def dob_generator(start,end):
    year = np.random.randint(start,end)