In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
l = ['a','b','c']
display(type(l),l)

list

['a', 'b', 'c']

In [6]:
l = np.array(['a','b','c'])
display(type(l),l)

numpy.ndarray

array(['a', 'b', 'c'], dtype='<U1')

In [8]:
l = pd.Series(['a','b','c'])
display(type(l),l)

pandas.core.series.Series

0    a
1    b
2    c
dtype: object

In [9]:
l = [[1,2,3],[4,5,6],[7,8,9]]
display(type(l),l)

list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
l = np.array([[1,2,3],[4,5,6],[7,8,9]])
display(type(l),l)

numpy.ndarray

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [12]:
l = pd.Series([[1,2,3],[4,5,6],[7,8,9]])
display(type(l),l)

pandas.core.series.Series

0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

In [11]:
l = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
display(type(l),l)

pandas.core.frame.DataFrame

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# How can we create Series in pandas?
* list
* tuple
* dictionary
* list for index and list for value

In [18]:
l = list('ABCDEFGHIJKLMNOPQRSTUVWXYX')
print(type(l))
print(l)

<class 'list'>
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'X']

In [19]:
l = pd.Series(l)
print(type(l))
print(l)

<class 'pandas.core.series.Series'>
0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    X
dtype: object

In [20]:
d = {
    'A':"Pakistan",
    'B':"India",
    'C':"China",
    'D':"Iran",
}
print(type(d))
print(d)

<class 'dict'>
{'A': 'Pakistan', 'B': 'India', 'C': 'China', 'D': 'Iran'}

In [22]:
d = pd.Series(d)
print(type(d))
print(d)

<class 'pandas.core.series.Series'>
A    Pakistan
B       India
C       China
D        Iran
dtype: object

In [25]:
i = ["A","B","C"]
v = ["X","Y","Z"]
p = pd.Series(v,i)
print(type(p))
print(p)

<class 'pandas.core.series.Series'>
A    X
B    Y
C    Z
dtype: object

In [28]:
n = np.random.randint(1,100,10)
display(n)
pd.Series(n, name="My array")

array([42, 59, 75, 59, 21, 49, 84, 80, 31, 95])

0    42
1    59
2    75
3    59
4    21
5    49
6    84
7    80
8    31
9    95
Name: My array, dtype: int32

# How can we create dataframe in pandas?
* matrix
    * list of list
    * tuple of tuple
* dictionary
* 2-D array
* dataframe attributes
    * dtype
    * shape